@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #000300;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #00df9a #000000;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #000000;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #00df9a;
    border-radius: 0px;
    border: 0px solid #000000;
  }